body{
    background-image: url(/images/hinh-nen-mau-tim-5.JPG);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center ;
}
.header{
    height:50px;
    background-color:rgb(245, 243, 243);
    background-attachment: fixed;
    position: sticky;
    top:1px;
}
.name{
    background-color: aliceblue;
    border-radius:10% ;
    width: 300px;
    height: 400px;
    position: absolute;
    top :140px;
    left:100px;
    margin: 10px;
    padding: 15px;
    box-shadow: 0 3px 10px rgb(247, 245, 245);
}
img{
    border-radius: 50%;
    position: absolute ;
    top:50px;
    left: 45px;
}
#ten{
    font-weight: 600;
    font-size: 200% ;
    font-family:Arial, Helvetica, sans-serif;
    position:absolute;
    bottom: 30px;
    left: 30px;
}
.box1{
    border-radius:10% ;
    background-color: aliceblue;
    height:400px;
    width: 300px;
    position: absolute;
    left: 520px;
    top: 140px;
    margin: 10px;
    padding: 15px;
    margin: 10px;
    padding: 15px;
    box-shadow: 0 3px 10px rgb(247, 245, 245);
}
.box2{
    border-radius:10% ;
    background-color: aliceblue;
    height: 400px ;
    width: 300px;
    position: absolute;
    top: 140px;
    left: 950px;
    margin: 10px;
    padding: 15px;
    box-shadow: 0 3px 10px rgb(247, 245, 245);
}
